<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/setting.css">
</head>
<body>
    


<div class="card first-card">
  
  
    <h3>Do you want to provide other information?</h3>
    
    
    <div class="chips">
      
      <div class="chip-card">
        <label>Fund account</label>
        
  </div>
      <div class="chip-card">
        <label>Cash</label>
        
  </div>
      <div class="chip-card">
        <label>Customer dividend</label>
        
  </div>
      <div class="chip-card">
        <label>Life insurance</label>
        
  </div>
      <div class="chip-card">
        <label>Private debt</label>
        
  </div>
      <div class="chip-card">
        <label>Fund account</label>
        
  </div>
      <div class="chip-card">
        <label>Other capital costs</label>
        
  </div>
      
    </div>
    
    <span class="link">See more topics</span>
    
    
  </div>
  
  <div class="card second-card">
    
    <h3>Address and contact information</h3>
    
    <div class="containers">
      
      <div class="container cone">
        
        <div class="icon">
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.08333 17H4.25L17 4.25L29.75 17H26.9167" stroke="#232532" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M7.08337 17V26.9167C7.08337 28.4815 8.3519 29.75 9.91671 29.75H24.0834C25.6482 29.75 26.9167 28.4815 26.9167 26.9167V17" stroke="#232532" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M12.75 29.75V21.25C12.75 19.6852 14.0185 18.4167 15.5833 18.4167H18.4167C19.9815 18.4167 21.25 19.6852 21.25 21.25V29.75" stroke="#232532" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  
        </div>
        
           <h4>Residential address</h4>
        
        <p>
          12 Navoc Way
  44756 Cioseega
        </p>
        
        <div class="btn">Report relocation</div>
        
      </div>
      <div class="container ctwo">
        <div class="icon">
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.1667 29.75V20.5416C14.1667 17.8032 11.9467 15.5833 9.20833 15.5833C6.46992 15.5833 4.25 17.8032 4.25 20.5416V29.75H29.75V21.25C29.75 18.1204 27.2129 15.5833 24.0833 15.5833H9.20833" stroke="#232532" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M17 15.5833V4.25H22.6667L25.5 7.08333L22.6667 9.91667H17" stroke="#232532" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M8.5 21.25H9.91667" stroke="#232532" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  
        </div>
        
        <h4>Postal address</h4>
        
        <div class="chip">No address provided</div>
        
        <div class="btn active"> Add postal address</div>
        
      </div>
    </div>
  </div>
    
</body>
</html>